.property {
   background: url('../img/property/city-bg.png') no-repeat bottom center/ cover;

   &-block {
       max-width: 770px;
       min-width: 370px;
       margin: auto;
       text-align: center;
       position: relative;

       &__img {
           position: absolute;
           top: -52%;
           left: 37%;
           z-index: 0;
      
        &_1 {
            top: -27%;
            left: 28%;
            z-index: -10;
        }
        &_3 {
            top: -27%;
            left: 52%;
            z-index: -10;
        }
       }
       &__item {
        position: relative;
        padding: 70px 35px 45px 60px;
        background: #f4f4f4;
        border-radius: 3px;
        box-shadow: 1px 2px 4px 0px rgba(149, 147, 147, 0.35);
        margin-bottom: 10px;
        margin-top: 120px;
        &:last-child {
            padding: 45px 22px;
            margin: 0;
        }
       }
       
       &__question {
        text-transform: uppercase;
        font-size: 20px;
        @include bold;
        margin: 0;
        margin-bottom: 20px;
       }
       &__description {
         font-size: 17px;
         margin: 0;
       }
       &__boll {
           padding: 15px 15px 12px;
           background: #23aae2;
           border-radius: 50%;
           position: absolute;
           top: 53%;
           right: 50%;
           transform: translateX(50%);
           z-index: 5;
           
       }
   }
   &__link {
    display: flex;
    justify-content: center;
    margin-top: 50px;
   }
}

  @media (max-width:768px) {
    .property {
        &-block {
            max-width: 600px;
            &__item {
                padding: 68px 40px 60px;
                &:last-child {
                    padding: 50px 40px 42px;
                }
            }
            &__img {
                top: -44%;
                left: 37%;
             &_1 {
                 top: -24%;
                 left: 28%;
             }
             &_3 {
                 top: -24%;
                 left: 52%;
             }
            }
        }
    }
  }


    @media (max-width: 540px) {
        .property {
            &-block {
                &__img {
                    top: -38%;
                    left: 29%;
                 &_1 {
                     top: -17%;
                     left: 20%;
                 }
                 &_3 {
                     top: -17%;
                     left: 52%;
                 }
                }
            }
        }
    }